/* 1-- full website */
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
* {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 8px;
}
/* buttons */
.BTN {
  color: white;
  background-color: #006a50;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
}

/* 2-- styles of navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#signinBTN {
  border: solid #006a50 2px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}

/* 3-- styles of banner section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 49px;
  background-color: #c6e4d6;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.bannerIMG {
  width: 474px;
  height: 400px;
}

/*  4--styles of main section*/
/* cards section-1 */
.cards {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.card {
  border-radius: 5px;
  border: solid 2px whitesmoke;
  padding: 15px;
}
/* cards section-2 */
.card-1 {
  background-color: #dcd3fc;
  padding: 30px;
  border-radius: 5px;
}
.card-2 {
  background-color: #c6e4d6;
  padding: 30px;
  border-radius: 5px;
}
.card-3 {
  background-color: #f7ebcf;
  padding: 30px;
  border-radius: 5px;
}

/* quote-text-section */
.quote-text {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 40px 40px;
  padding: 50px 40px 80px;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  margin-bottom: 80px;
}

/* opinion-section */
.opinion-section {
  margin-bottom: 80px;
}
.opinion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border: solid 1px whitesmoke;
}
.agreeBTN {
  display: flex;
  gap: 2px;
  background-color: #c6e4d6;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* recent-news section */
.recent-news {
  display: flex;
  border: solid 2px whitesmoke;
  box-shadow: 5px 5px 50px white;
  gap: 32px;
  border-radius: 10px;
  padding: 48px;
  margin-top: 24px;
}
.IMG {
  width: 408px;
  height: auto;
  border-radius: 10px;
}
.date-time {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* alternate right image */
.recent-news.right-img{
  flex-direction: row-reverse;
}