/* 1-- full website */
* {
  margin: auto;
}
/* fonts */
* {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}
/* buttons */
.BTN {
  color: white;
  background-color: #006a50;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
}

/* 2-- styles of navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#signinBTN {
  border: solid #006a50 2px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}

/* 3-- styles of banner section */
.banner {
  display: flex;
  background-color: #c6e4d6;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}

/*  4--styles of main section*/
/* cards section-1 */
.cards {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.card {
  border: solid 2px white;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 15px;
}
/* cards section-2 */
.card-1{
    background-color:#dcd3fc ;
    padding: 30px;
    border-radius: 5px;
}
.card-2{
    background-color:#C6E4D6 ;
    padding: 30px;
    border-radius: 5px;
}
.card-3{
    background-color:#F7EBCF ;
    padding: 30px;
    border-radius: 5px;
}