/* 1-- full website */
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* sherd styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: #0E0E0E;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 8px;
}
p{
  color: #0E0E0E;
}
/* buttons */
.BTN {
  color: white;
  background-color: #006a50;
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* 2-- styles of navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#signinBTN {
  border: solid #006a50 2px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}
#signinBTN:hover{
  color: white;
  background-color: #006a50;
}

/* 3-- styles of banner section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 49px;
  background-color: #c6e4d6;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.bannerIMG {
  width: 474px;
  height: 400px;
}

/*  4--styles of main section*/
/* cards section-1 */
.cards {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.card {
  border-radius: 5px;
  border: solid 2px #fcfafa;
  padding: 15px;
  box-shadow: 0 6px 50px 0 #00000027;
}
/* cards section-2 */
.card-1 {
  background-color: #dcd3fc;
  padding: 30px;
  border-radius: 5px;
}
.card-2 {
  background-color: #c6e4d6;
  padding: 30px;
  border-radius: 5px;
}
.card-3 {
  background-color: #f7ebcf;
  padding: 30px;
  border-radius: 5px;
}

/* quote-text-section */
.quote-text {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 40px 25px;
  padding: 50px 40px 80px;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  margin-bottom: 80px;
}

/* opinion-section */
.opinion-section {
  margin-bottom: 80px;
}
.opinion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border: solid 1px whitesmoke;
}
.agreeBTN {
  display: flex;
  gap: 2px;
  background-color: #c6e4d6;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* recent-news section */
.recent-news {
  display: flex;
  border: solid 2px whitesmoke;
  box-shadow: 0 6px 50px 0 #00000027;
  gap: 32px;
  border-radius: 10px;
  padding: 48px;
  margin-top: 24px;
  margin-bottom: 80px;
}
.IMG {
  width: 408px;
  height: auto;
  border-radius: 10px;
}
.date-time {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* alternate right image */
.recent-news.right-img{
  flex-direction: row-reverse;
}

/* Donate section */
.donate-section{
  text-align: center;
}
.cards-TK{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 25px ;
}
.card-TK{
  border:solid 2px whitesmoke;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 50px 0 #00000027;
}
.other-amount{
  border: 2px solid whitesmoke;
  padding: 20px ;  
  margin: 32px 124px;
}

/* subscribe section */

.subscribe{
text-align: center;
background-color: #C6E4D6;
border-radius: 10px;
padding: 80px 265px;
margin: 80px 0;
}
.subscribe .input-section{
  display: flex;
  justify-content: center;
   margin:24px 0 ;
}
.input-section input{
  padding: 18px 200px;
  border: none;
  color: #006a50;
}

/* footer section */
.footer-section{
  text-align: center;
}
.social{
  display: flex;
  justify-content: center;
  gap: 23px;
  margin: 64px 0 50px;
}